apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chatapp-frontend.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      {{ include "chatapp-frontend.selectorLabels" . }}
  template:
    metadata:
      labels:
        {{ include "chatapp-frontend.selectorLabels" . }}
    spec:
      containers:
        - name: {{ include "chatapp-frontend.fullname" . }}-frontend
          image: nginx
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 2
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 2
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "250m"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
              readOnly: true
      volumes:
        - name: nginx-config
          configMap:
            name: {{ include "chatapp-frontend.fullname" . }}-cm
